$font: 'Marck Script', cursive;

// Heading
.cat-t {
  display: flex;
  justify-content: center;
  margin: 2em;
  text-decoration: 2px underline;
  text-underline-offset: 4px;
}

// Grid
.grid {
  display: grid;
  margin: -1em;

  img {
    pointer-events: none;
    user-select: none;
  }

  &:hover {
    .g-t {
      color: palevioletred;
    }
  }

  .g-t {
    font-family: $font;
    display: flex;
    justify-content: center;
    margin: 1em;
  }

  .col {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    min-width: 500px;
    min-height: 250px;
    transition: transform 300ms ease-in-out;
    background-color: #1e2021;
    border: 1px solid #1e2021;
    border-radius: .5em;
    transition: all 0.3s ease-in-out;

    &:hover {
      text-decoration: none;
    }
  }

  .p {
    text-align: start;
    font-size: clamp(1rem, 1.05rem, 1.1rem);
  }

  .link {
    margin: auto;
    margin-top: 1em;
    width: 100%;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
